body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.home-icon {
    font-size: 24px;
    margin: 10px;
    text-decoration: none;
    color: #333;
}
.home-icon:hover {
    color: #007bff; /* Optional: color change on hover */
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#filterContainer1 {
    display: none;
    max-height: 150px; 
    overflow-y: auto;
    position: absolute;
    right: 50px;
    top: 200px; /* Adjust the top value as needed */
    transition: max-height 0.3s ease-in-out;
}

#filterFormTag{
    /* position: fixed; */
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

#filterContainer2{
    display: none;
    max-height: 150px; 
    overflow-y: auto;
    position: absolute;
    right: 250px;
    top: 200px; /* Adjust the top value as needed */
    transition: max-height 0.3s ease-in-out;
}

#filterFormPlat{
    /* position: fixed; */
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content label {
    display: block;
    margin-bottom: 5px;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 8px;
}

.submit-button {
    margin-top: 15px;
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}