<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DSA Search Engine - Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
  <a href="/" class="home-icon">
    <img src="{{ url_for('static', filename='images/icon.svg') }}" alt="Home Icon">
  </a>
  
  <h1>DSA Search Engine</h1>
  <p>Welcome to your one-stop shop for all things DSA (Data Structures & Algorithms)!</p>
  
  <div class="button-container">
    <button onclick="redirectToIndex()">Search for Algorithms & Data Structures</button>
    <button onclick="redirectToAll()">Explore All Problems</button>
  </div>

  <script>
    function redirectToIndex() {
      window.location.href = "{{ url_for('index') }}";
    }

    function redirectToAll(){
      window.location.href = "{{ url_for('all') }}";
    }
  </script>
</body>
</html>